@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Make sure the body takes the full height of the viewport */
    margin: 0;
    /* Remove default margin to ensure full width */
    overflow: hidden;
    }

.bg{
    display: flex;
    background: url("../../Assets/background.jpg");
/* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 150%;
    width: 150%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    


}

.wrapper{
    
    position: absolute;
    text-align: center;
}

.search-bar{

    display: block;

}

input{

    width: 50vh;
    height: 4vh;
    border:none;
    border-radius: 2vh;
    overflow: hidden;

    color: black;
    background-color: aliceblue;


    font-size: large;
    font-family: Roboto;
    text-indent: 2%;

}

h1 {

    font-family: Honk;
    font-size: 5vmax;
}

